# ✔️ Relatório de Validação com o Público-Alvo

## 1. Apresentação do Projeto ao Público-Alvo
Descreva como aconteceu o contato.

- **Forma de apresentação:** Vídeo demonstrativo e ccoleta de feedback no Google Forms
- **Link do formulário (Google Forms):** https://forms.gle/Gtx4KENvd27cs1918

### Resumo da Apresentação

Durante o vídeo demonstrativo, mostramos a principal funcionalidade do sistema, que é o comparador, e como as informações são mostradas. Também explicamos brevemente as tecnologias propostas.

## 2. Feedback Recebido

### Principais pontos recebidos:


### Melhorias sugeridas:

## 4. Conclusão

A validação mostrou que o sistema atende às necessidades do público-alvo, especialmente em relação ao auxílio na busca de um novo bairro para morar.